
.modal{
   
    border: 1px solid black;
    height: 400px;
    width: 50%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    /* justify-content: center; */
    overflow-x: auto;
    background-color: rgb(233, 236, 236);
    position:fixed;
    top:0px;            
    left:50%;
     transform: translateX(-50%);  
     flex-direction: column;                                                                                                        
}
.label-input{
    display: grid;
    padding: 10px;
     

}
.form-header{
    display: flex;
    padding: 10px;
    /* justify-content: space-evenly; */
    width: 90%;

}
.form-header button{
    margin-left: 10px;
}
